<div class="authentication_form">



  <h2>Please Login:</h2>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>

  <%= form_tag({:controller => :sessions, :action => :create}) %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>
  <h3><%= link_to 'Click here to register', new_user_path %></h3>
</div>




