<div class="customer_list">
  <h3>Customers</h3>
  <ul>
    <% @users.each do |user| %>
      <% if user.admin == false %>
      <li><%= user.first_name %> <%= user.last_name %></li>
      <li><%= user.address %> <%= user.city %>, <%= user.state %> <%= user.zip %></li>

        <br>
    <% end %>
    <% end %>
  </ul>
</div>

