<div class="customer_list">
  <h3>Customers</h3>
  <ul>
    <% @users.each do |user| %>
      <% if user.admin == false %>
      <li><%= user.first_name %> <%= user.last_name %></li>
      <li><%= user.address %> <%= user.city %>, <%= user.state %> <%= user.zip %></li>

        <br>
    <% end %>
    <% end %>
  </ul>
</div>


<% @users.each do |user| %>
<iframe
width="300"
height="350"
frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDniIncBgHNstbnoDcNMPPV3O2uMOp_aYY
    &q=<%= user.address%>, <%= user.city%>, <%= user.state%>">
</iframe>
<% end %>

