<h2>This month's featured beers:</h2>
<div id="content">
  <div id="results">
    <p class="flash_notice"><%= flash[:alert] %></p>
    <ul>
      <% @products.each do |product| %>
        <li class="beer">
          <%= image_tag product.image.to_s %>

          <% if current_user.admin? %>
        <span class="name">
          <%= link_to product.name, product_path(product.id) %></span>
          <% else %>
            <span class="name"><%= product.name %></span>
          <% end %>
          <span class="description"><%= product.description %></span>
        </li>
      <% end %>
    </ul>
  </div>
</div>